
function initAnswers() {
      ANSWERS.init({
      apiKey:  "{{ api_key }}",
      experienceKey: "{{ experience_key }}",
      experienceVersion: "{{ experience_version }}",
      locale: "{{ locale }}", // e.g. en
      businessId: "{{ business_id }}",
      onReady: function() {
      ANSWERS.addComponent("SearchBar", {
            container: ".search_form",
            name: "search-bar", //Must be unique for every search bar on the same page
            redirectUrl: "{{ redirect_url }}",
            placeholderText: "{{ search_placeholder }}",
      });
      },
      });
}
    